$contents_logo_width: $contents_logo_height * $logo_aspect;
$contents_logo_margin: math.div($contents_width - $contents_logo_width, 2);

.outer_box {
    z-index: $contents_z;
    display: block;
    margin: 0 auto;

    .contents {
        width: $contents_width;
        padding: $contents_padding_height
            $contents_padding_width
            ($contents_padding_height * 2)
            $contents_padding_width;
        margin: ($navbar_height * 2) auto;
        display: block;

        background-color: rgba(#292d3e, 0.8);
        color: #fffefe;

        h1 {
            text-align: $h1_align;
            font-size: $h1font_size;
            text-decoration: underline;
        }

        h2 {
            font-size: 1.5em;
            text-decoration: underline;
        }

        a {
            color: #CBCBEB;
            text-decoration: underline;
        }

        li {
            padding: 0.25em 0;
        }

        iframe {
            width: $contents_iframe_width;
            height: $contents_iframe_height;
        }

        .logo {
            display: block;
            height: $contents_logo_height;
            width: $contents_logo_height * $logo_aspect;
            margin: 0 auto;
            margin-top: 5vh;
            image-rendering: pixelated;
        }

        .catchcopy {
            text-align: right;
            margin: 0.5em $contents_logo_margin;
            font-size: math.div($contents_logo_height, 5);
            font-family: fantasy;
        }

        .contents-top-menu {
            text-align: center;
            margin: $contents_padding_height auto 0 auto;
            display: flex;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                margin: 0 auto;
            }

            .contents-icon {
                text-align: center;
                width: $contents_icon_size;

                margin: $contents_icon_margin_height auto;

                border: solid 4px;
                border-color: #000000;
                border-radius: math.div($contents_icon_font_size, 2);
                display: inline-block;

                background-color: #abb2bf;

                img {
                    height: $contents_icon_size;
                    width: $contents_icon_size;
                    border-radius: math.div($contents_icon_font_size, 2)
                        math.div($contents_icon_font_size, 2)
                        0
                        0;
                    margin: 0;
                }

                p {
                    font-weight: bold;
                    font-size: $contents_icon_font_size;
                    color: black;
                    margin: 0;
                }
            }

            .shield {
                color: #FCFCFC;
                opacity: 0.5;
                margin: 0 auto;
            }
        }
    }
}