@use "sass:math";

$contents_width: 1200px;
$padding_width: 128px;
$padding_height: 72px;

$logo_height: 120px;
$logo_width: $logo_height * 7.2;

.outer_box {
    z-index: 10;
    display: block;
    margin: 0 auto;

    .contents {
        width: $contents_width;
        padding: $padding_height $padding_width $padding_height * 2 $padding_width;
        margin: 140px auto;
        display: block;

        background-color: rgba(#292d3e, 0.8);
        color: #fffefe;

        h1 {
            text-align: center;
            font-size: 5em;
            text-decoration: underline;
        }

        h2 {
            font-size: 1.5em;
            text-decoration: underline;
        }

        a {
            color: #CBCBEB;
            text-decoration: underline;
        }

        li {
            padding: 0.25em 0;
        }

        .logo {
            height: $logo_height;
            width: $logo_width;
            margin: 0 math.div($contents_width - $logo_width, 2);
            margin-top: 5vh;
            image-rendering: pixelated;
        }

        .catchcopy {
            text-align: right;
            margin: 0.5em math.div($contents_width - $logo_width, 2);
            font-size: math.div($logo_height, 5);
            font-family: fantasy;
        }

        .contents-top-menu {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 72px;
            display: flex;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                margin: 0 auto;
                margin-bottom: 72px;
            }

            .contents-icon {
                text-align: center;
                width: 256px;

                border: solid 4px;
                border-color: #000000;
                border-radius: 13px;
                display: inline-block;

                background-color: #abb2bf;

                img {
                    height: 256px;
                    width: 256px;
                    border-radius: 13px 13px 0 0;
                    margin: 0;
                }

                p {
                    font-weight: bold;
                    font-size: 26px;
                    color: black;
                    margin: 0;
                }
            }

            .shield {
                color: #FCFCFC;
                opacity: 0.5;
                margin: 0 auto;
            }
        }
    }
}