@use "sass:math";

$contents_width: 50vw;
$contents_height: 70vh;
$padding_width: 5vw;
$padding_height: 5vh;
$height_margin: math.div(100vh - $contents_height - $padding_height * 2, 2);
$width_margin: math.div(100vw - $contents_width - $padding_width * 2, 2);

.contents {
	width: $contents_width;
	height: $contents_height;

	padding-top: $padding_height;
	padding-bottom: $padding_height;
	padding-left: $padding_width;
	padding-right: $padding_width;

	margin-top: $height_margin;
	margin-bottom: $height_margin;
	margin-left: $width_margin;
	margin-right: $width_margin;

	display: block;
	position: absolute;
	z-index: 100;
	
	overflow-y: auto;
	
	background-color: rgba(#292d3e, 0.9);
	scrollbar-color: #abb2bf #292d3e;

	color: #fffefe;

	h1 {
		text-align: center;
		font-size: 5em;
		text-decoration: underline;
	}

	h2 {
		font-size: 1.5em;
		text-decoration: underline;
	}

	a {
		color: #CBCBEB;
		text-decoration: underline;
	}

	li {
		padding: 0.25em 0;
	}
}