// logo is 74 x 10
$logo_aspect: 7.4;

$navbar_height: 70px;
$navbar_logo_height: 50px;
$navbar_logo_margin_width: 20px;
$navbar_text_icon_font: 20px;
$navbar_logo_padding: 5px;

$contents_width: 1200px;
$contents_padding_width: 128px;
$contents_padding_height: 72px;

$contents_logo_height: 120px;
$contents_icon_size: 256px;
$contents_icon_font_size: 26px;

$navbar_z: 20;
$contents_z: 10;
$background_z: -10;
