@use "sass:math";

// logo is 74 x 10
$logo_aspect: 7.4;

$navbar_height: 70px;
$navbar_logo_height: 50px;
$navbar_logo_margin_width: 20px;
$navbar_text_icon_font: 20px;
$navbar_logo_padding: 5px;

$contents_max_width: 1200px;
$contents_min_width: 1000px;
$contents_padding_width: 128px;
$contents_padding_height: 72px;

$contents_logo_height: 120px;
$contents_icon_size: 256px;
$contents_icon_font_size: 26px;
$contents_icon_margin_height: 0;

$contents_iframe_width: 560px;
$contents_iframe_height: 315px;

$navbar_z: 20;
$contents_z: 10;
$background_z: -10;

$h1_align: center;
$h1font_size: 5em;

.pc {
    @import "body.scss";
    @import "background.scss";
    @import "contents.scss";
    @import "navbar.scss";
}
