@use "sass:math";
@import "header.scss";

$logo_margin: math.div($navbar_height - $navbar_logo_height, 2);

.navbar {
    top: 0;
    left: 0;
    width: 100vw;
    height: $navbar_height;
    position: fixed;
    z-index: $navbar_z;

    display: flex;
    align-items: flex-end;
    background-color: #FCFCFC;
    
    opacity: 1;

    .logo {
        height: $navbar_logo_height;
        width: $navbar_logo_height * $logo_aspect;
        margin: $logo_margin $navbar_logo_margin_width;
        vertical-align: bottom;
        image-rendering: pixelated;
    }

    a {
        text-decoration: none;
    }

    .text-icon {
        padding: 0 $navbar_logo_padding;
        margin: $logo_margin $navbar_logo_padding;

        color: black;

        font-size: $navbar_text_icon_font;
        font-weight: bolder;

        border: solid;
        border-radius: $navbar_logo_padding;
    }
}